<section ui-view="header"></section>
<section class="main-content-wrapper">
	<section class="hbox stretch">
		<aside class="bg-black aside-md hidden-print hidden-xs" id="nav" ui-view="left-sidebar"></aside>
		<section id="content">
			<section class="hbox stretch">
				<section>
					<section class="vbox">
						<section class="scrollable padder">
							<section class="m-b-md" ui-view="breadcrumb"></section>
							<div ui-view="main" class="hbox stretch" style="height: calc(100% - 98px);"></div>
						</section>
					</section>
				</section>
				<aside class="aside-md bg-black hide" id="sidebar" ui-view="right-sidebar"></aside>
			</section>
		</section>
	</section>
</section>
<section ui-view="footer"></section>